<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName" class="form-label">First Name</label
          ><input
            type="text"
            id="firstName"
            name="firstName"
            class="form-control"
            formControlName="firstName"
          /><span
            class="help-block"
            *ngIf="
              (!registrationForm.get('firstName')?.valid &&
                registrationForm.get('firstName')?.dirty) ||
              (registrationForm.get('firstName')?.touched &&
                !registrationForm.get('firstName')?.dirty)
            "
            >Please Enter valid first name</span
          >
        </div>
        <div class="form-group">
          <label for="lastName" class="form-label">last Name</label
          ><input
            type="text"
            id="lastName"
            class="form-control"
            name="lastName"
            formControlName="lastName"
          /><span
            class="help-block"
            *ngIf="
              (!registrationForm.get('lastName')?.valid &&
                registrationForm.get('lastName')?.dirty) ||
              (registrationForm.get('lastName')?.touched &&
                !registrationForm.get('lastName')?.dirty)
            "
            >Please Enter valid last name</span
          >
        </div>
        <div class="form-group">
          <label for="" class="form-label">Email</label
          ><input
            type="email"
            id="email"
            class="form-control"
            name="email"
            formControlName="email"
          /><span
            class="help-block"
            *ngIf="
              !registrationForm.get('email')?.valid &&
              registrationForm.get('email')?.touched
            "
            >Please Enter valid email address</span
          >
        </div>
        <div class="d-flex gap-2 mt-2">
          <label for="" class="form-label">Gender</label>
          <div class="form-group">
            <label for="male" class="form-check-label">
              <input
                type="radio"
                id="male"
                class="form-check-input"
                name="gender"
                value="mele"
                formControlName="gender"
              />
              Male
            </label>
            <label for="female" class="form-check-label">
              <input
                type="radio"
                id="female"
                name="gender"
                class="form-check-input"
                value="female"
                formControlName="gender"
              />
              Female
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="married" class="form-check-label">Married</label>
          <input
            type="checkbox"
            name="married"
            id="married"
            class="form-check-input"
            formControlName="married"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Country</label>
          <select name="" id="" class="form-select" formControlName="country">
            <option *ngFor="let country of countries" [value]="country.value">
              {{ country.label }}
            </option>
          </select>
          <span
            class="help-block"
            *ngIf="
              !registrationForm.get('country')?.valid &&
              registrationForm.get('country')?.touched
            "
            >Please select a country</span
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!registrationForm.valid"
        >
          Submit
        </button>

        <button type="button" class="btn btn-danger" (click)="onClear()">
          Resest
        </button>
      </form>
    </div>
  </div>
</div>
